<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<style>
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    margin: 0;
    padding: 0;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.main-content a {
    color: #007bff;
    text-decoration: none;
}

.main-content a:hover {
    text-decoration: underline;
}

</style>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <main>
        <div class="main-content">
            <h2>Acerca de nosotros</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto inventore ullam, praesentium tempora expedita maxime exercitationem porro distinctio quia ipsam nobis saepe blanditiis excepturi eum obcaecati esse quos, alias explicabo.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde deserunt sapiente nostrum cupiditate facere repellat ex fugit voluptas, totam rem porro, iusto culpa error cumque dolore ut adipisci. A, praesentium!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rem inventore accusantium ut quia, at molestias nisi praesentium? Sint alias ipsum quos ut hic quo obcaecati! Sapiente doloremque voluptas esse.</p>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>
